version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    cooldown:
      default-days: 7
      semver-major-days: 14
    groups:
      kubernetes:
        patterns:
          - "k8s.io/*"
          - "sigs.k8s.io/*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    cooldown:
      default-days: 7

  - package-ecosystem: npm
    directory: /docs
    schedule:
      interval: daily
    cooldown:
      default-days: 7
      semver-major-days: 14
    groups:
      npm-dependencies:
        patterns:
          - "*"

  - package-ecosystem: docker
    directory: /
    cooldown:
      default-days: 7
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /.github/fixtures/reconcile-test
    cooldown:
      default-days: 7
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /pkg/io/config-manager/talos
    cooldown:
      default-days: 7
    schedule:
      interval: daily
