<script>
    document.addEventListener("DOMContentLoaded", function () {
      console.log('DOMContentLoaded');
    if (!jtd) { return; }

    function applyPreferredColorScheme() {
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        jtd.setTheme('dark');
      } else {
        jtd.setTheme('light');
      }
    }

    applyPreferredColorScheme();

    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', applyPreferredColorScheme);
    window.matchMedia('(prefers-color-scheme: light)').addEventListener('change', applyPreferredColorScheme);
  });
</script>
