name: "TODOs"

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  issues: write

jobs:
  todos:
    uses: devantler-tech/reusable-workflows/.github/workflows/todos.yaml@190ed0cb2000f87afddbec35b95b26fe38cd0967 # v1.28.0
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
