name: "TODOs"

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  issues: write

jobs:
  todos:
    uses: devantler-tech/reusable-workflows/.github/workflows/todos.yaml@9eff6daec26726899b80bef3940797d3ad54e7fe # v1.23.0
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
